<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="Suite" parallel="tests" thread-count="5">
<parameter name="runLocation" value="cloud" />
	<test thread-count="5" name="TestChrome">
		
		<parameter name="browserName" value="chrome" />
		<classes>
			<class name="koch.com.ixigo.verifyIxigo" />
			<class name="koch.com.ixigo.google" />
		</classes>
	</test>


	<test thread-count="5" name="TestFireFox">
		
		<parameter name="browserName" value="firefox" />
		<classes>
			<class name="koch.com.ixigo.verifyIxigo" />
			<class name="koch.com.ixigo.google" />
		</classes>
	</test>
</suite> 



